fastapi
uvicorn
sqlalchemy
pydantic
pydantic[email]
websockets
python-jose[cryptography]
bcrypt==4.0.1
python-multipart
email-validator
psycopg2-binary
requests
passlib
httpx
python-dotenv
